<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917710496829-69ds1rlgvcar567pbc68hh759kjh6rmm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917710496829-69ds1rlgvcar567pbc68hh759kjh6rmm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>917710496829-a04mltot0rk0s0m18nrrbqkr8gjlte86.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCLsAPAVqrquYIM8SjGHiG7u0B308BssWo</string>
	<key>GCM_SENDER_ID</key>
	<string>917710496829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.musang.Tripweaver</string>
	<key>PROJECT_ID</key>
	<string>tripweaver</string>
	<key>STORAGE_BUCKET</key>
	<string>tripweaver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917710496829:ios:a13b3e3deb83d3dbc53654</string>
	<key>DATABASE_URL</key>
	<string>https://tripweaver.firebaseio.com</string>
</dict>
</plist>